<div id="runner" v-if="project.inputs.length">
  <div class="content" v-if="project.date_trained && !training">
    <div class="header">
      <div class="header-text">
        Run Predictions
      </div>
      <button
        class="button square danger"
        title="Clear predictions history"
        :disabled="training"
        v-if="isChatAvailable"
        @click="project.predictions.data = []">
        <div data-icon="delete"></div>
      </button>
      <button
        class="button square success"
        title="Retrain the model"
        :disabled="training"
        @click="trainModel">
        <div data-icon="train"></div>
      </button>
    </div>
    <div class="list" ref="chat_tray" v-if="isChatAvailable">
      <div class="list-content">
        <div
          class="item"
          :data-message-type="item.type"
          :data-message-sender="item.sender || false"
          v-if="project.type === 'text'"
          v-for="item in project.predictions.data">
          <div class="item-content" :title="toDateString(item.time)">
            {{item.sender ? item.data : "Model retrained"}}
          </div>
        </div>
        <div
          class="item"
          :data-message-type="item.type"
          :data-message-sender="item.sender || false"
          v-if="project.type === 'image'"
          v-for="item in project.predictions.data">
          <div
            class="item-content item-content-image"
            v-if="item.sender === 'user'"
            :title="toDateString(item.time)">
            <img draggable="false" :src="toFileURL(project.id, item.data)">
          </div>
          <div
            class="item-content"
            v-if="item.sender === 'model'"
            :title="toDateString(item.time)">
            {{item.data}}
          </div>
          <div
            class="item-content"
            v-if="item.type === 'retrained'"
            :title="toDateString(item.time)">
            Model retrained
          </div>
        </div>
      </div>
    </div>
    <div class="list-empty" v-if="!isChatAvailable">
      <div class="empty-title">
        No Chat History
      </div>
      <div class="empty-description">
        Send a message to run predictions
      </div>
    </div>
    <div class="options" :data-model-type="project.type">
      <input
        type="text"
        v-model="project.predictions._input"
        v-if="project.type === 'text'"
        placeholder="Type a message and hit enter..."
        @keydown="predictModel"
      />
      <button
        class="button"
        v-if="project.type === 'image'"
        @click="predictModel">
        <div data-icon="upload"></div>
        Send an Image
      </button>
    </div>
  </div>
  <div class="empty" v-else>
    <div class="empty-title">
      {{training ? "Training Your Model": "Run Predictions"}}
    </div>
    <div class="empty-description">
      {{training ? "You can test your model after training": "You haven't train the model yet"}}
    </div>
    <div v-if="training">
      <div class="progress">
        <div class="progress-value" :style="{ width: progress + '%' }"></div>
      </div>
    </div>
    <button class="button success" :disabled="training" @click="trainModel">
      {{training ? `Training... (${progress}%)`: "Train Model"}}
    </button>
  </div>
</div>