#create input {
  height: 35px;
  width: calc(100% - 20px);
  border-radius: 8px;
  border: 1px solid var(--border-primary);
  padding: 0px 10px;
  font-weight: 500;
  color: var(--text-primary);
  transition: all 0.15s;
  background-color: transparent;
}

#create input:focus {
  border: 1px solid var(--border-secondary);
}

#create .types {
  display: flex;
  justify-content: center;
  gap: 15px;
}

#create .type {
  padding: 20px;
  border-radius: 10px;
  border: 1px solid var(--border-primary);
  color: var(--text-primary);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;
  cursor: pointer;
  transition: all 0.2s;
}

#create .type[data-selected] {
  border: 1px solid var(--border-secondary);
  background-color: var(--selection-tertiary);
}

#create .type [data-type] {
  width: 80px;
  height: 80px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

#create .label {
  text-align: center;
  font-size: 12px;
  font-weight: 500;
}